day3/demo/node_modules/
day3/demo2/node_modules/
day3/old/node_modules/
day3/lab3/node_modules/

day2/demo/node_modules/
day2/demo/Day2_Lab Assignment.docx
day2/lab2/Day2_Lab Assignment.docx
day2/lab2/NodeJS Day2.pptx



day4/demo/node_modules/
day4/lab4/BackEnd/node_modules/

project-root/node_modules/